In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

Carga de los datasets de las plataformas

In [3]:
df_netflix= pd.read_csv('datasets/netflix_titles.csv').copy()
df_amazon= pd.read_csv('datasets/amazon_prime_titles.csv').copy()
df_disney= pd.read_csv('datasets/disney_plus_titles.csv').copy()
df_hulu= pd.read_csv('datasets/hulu_titles.csv').copy()

df_netflix['Plataforma'],df_amazon['Plataforma'],df_disney['Plataforma'],df_hulu['Plataforma']='netflix','amazon','disney','hulu'

df_total=pd.concat([df_netflix,df_amazon,df_disney,df_hulu], ignore_index=True)
df_total

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Plataforma
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...,hulu
22994,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...,hulu
22995,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...,hulu
22996,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...,hulu
22997,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...,hulu

Cambio los nulos del campo rating por 'G'

In [4]:
df_total.rating.replace({np.nan:'G'}, inplace=True)
df_total.cast.replace({np.nan:'Sin Informacion'}, inplace=True)
df_total.duration.replace({np.nan:'0 min'}, inplace=True)

In [5]:
#df_total.isna().sum()# Cuento la cantidad de datos faltantes en cada campo
df_total.info()# info general del dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14738 non-null  object
 4   cast          22998 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22998 non-null  object
 9   duration      22998 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  Plataforma    22998 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.3+ MB

Genero el campo id

In [6]:
df_total['id']=[df_total.Plataforma.iloc[i][0] + df_total.show_id.iloc[i] for i in range(len(df_total))]
df_total

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Plataforma,id
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Sin Informacion,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",netflix,ns1
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix,ns2
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix,ns3
3,s4,TV Show,Jailbirds New Orleans,NaN,Sin Informacion,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix,ns4
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix,ns5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s3069,TV Show,Star Trek: The Original Series,NaN,Sin Informacion,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...,hulu,hs3069
22994,s3070,TV Show,Star Trek: Voyager,NaN,Sin Informacion,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...,hulu,hs3070
22995,s3071,TV Show,The Fades,NaN,Sin Informacion,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...,hulu,hs3071
22996,s3072,TV Show,The Twilight Zone,NaN,Sin Informacion,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...,hulu,hs3072
22997,s3073,TV Show,Tokyo Magnitude 8.0,NaN,Sin Informacion,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...,hulu,hs3073

- Cambio el formato del campo date_added

In [7]:
df_total.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Plataforma,id
15290,s6484,Movie,Maayajaalam,S. V. Krishna Reddy,"Srikanth, Poonam Kaur, Krishna Bhagavaan, Prad...",NaN,NaN,2006,13+,138 min,Drama,"Vamsi, a matchmaking consultant, fixes the mar...",amazon,as6484
16278,s7472,TV Show,Alien Extinction,NaN,Geovanni Molina,NaN,NaN,2020,16+,1 Season,Action,Earth has encountered an Alien that his sole m...,amazon,as7472
21423,s1499,Movie,2099: The Soldier Protocol,NaN,Sin Informacion,Australia,"July 26, 2020",2019,85 min,0 min,"Action, Adventure, Science Fiction",A biotech company promises a paraplegic inmate...,hulu,hs1499
20061,s137,Movie,Sweet Land,NaN,Sin Informacion,NaN,"October 1, 2021",2005,PG,111 min,"Drama, Romance","At her husband's funeral, a woman retells her ...",hulu,hs137
1188,s1189,Movie,Get the Goat,Vitor Brandt,"Matheus Nachtergaele, Edmilson Filho, LetÃ­cia ...",Brazil,"March 18, 2021",2021,TV-14,98 min,"Action & Adventure, Comedies, International Mo...",Two hapless cops find themselves in over their...,netflix,ns1189

In [8]:
df_total.date_added=pd.to_datetime(df_total['date_added'], format='mixed')

- Campos de texto u object a minuscula

**nota: el siguiente codigo pone en minuscula todos los campos que sean object. Con esto evito las repeticiones innecesarias**

In [9]:
lscampos=df_total.columns# lista con los nombres de las columnas

for campo in lscampos:
    if df_total[f'{campo}'].dtype==object:
        df_total[f'{campo}']=df_total[f'{campo}'].str.lower()
    else:
        pass

- El campo duration se convierte en 2 campos mÃ¡s

In [10]:
df_total['duration_int']= df_total['duration'].apply( lambda row: str(row).split()[0])
df_total['duration_type']= df_total['duration'].apply( lambda row: str(row).split()[1])

In [11]:
df_total.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Plataforma,id,duration_int,duration_type
8577,s8578,movie,this was tomorrow,wim bonte,sin informacion,belgium,2015-12-15,2015,nr,77 min,"documentaries, international movies, music & m...",the tomorrowland music festival marks its 10th...,netflix,ns8578,77,min
5000,s5001,tv show,flint town,NaN,sin informacion,united states,2018-03-02,2018,tv-ma,1 season,"docuseries, science & nature tv","over a two-year period, filmmakers embedded wi...",netflix,ns5001,1,season
14996,s6190,movie,boondock saints,troy duffy,"willem dafoe, norman reedus, sean patrick flan...",NaN,NaT,2000,r,108 min,"action, comedy, suspense","in troy duffy's cult classic, two irish cathol...",amazon,as6190,108,min
4669,s4670,movie,once again,kanwal sethi,"shefali shah, neeraj kabi, rasika dugal, bidit...","india, germany, austria",2018-09-01,2018,tv-pg,101 min,"dramas, independent movies, international movies",after a chance phone call leads to daily conve...,netflix,ns4670,101,min
9927,s1121,movie,rupture,steven stainberg,"noomi rapace, michael chiklis, kerry bishe, pe...",NaN,NaT,2017,18+,101 min,"horror, science fiction, suspense",a single mom tries to break free from a myster...,amazon,as1121,101,min

---------------------------------------------------------------------------------------------------------

## Unifico el dataframe de ratings

In [12]:
df1=pd.read_csv('datasets/ratings/1.csv').copy()
df2=pd.read_csv('datasets/ratings/2.csv').copy()
df3=pd.read_csv('datasets/ratings/3.csv').copy()
df4=pd.read_csv('datasets/ratings/4.csv').copy()
df5=pd.read_csv('datasets/ratings/5.csv').copy()
df6=pd.read_csv('datasets/ratings/6.csv').copy()
df7=pd.read_csv('datasets/ratings/7.csv').copy()
df8=pd.read_csv('datasets/ratings/8.csv').copy()
df_ratings=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8], ignore_index=True)

In [13]:
df_ratings.info()
#df_ratings.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11024289 entries, 0 to 11024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   rating     float64
 2   timestamp  int64
 3   movieId    object
dtypes: float64(1), int64(2), object(1)
memory usage: 336.4+ MB

In [14]:
df_ratings

          userId  rating   timestamp movieId
0              1     1.0  1425941529   as680
1              1     4.5  1425942435  ns2186
2              1     5.0  1425941523  hs2381
3              1     5.0  1425941546  ns3663
4              1     5.0  1425941556  as9500
...          ...     ...         ...     ...
11024284  124380     4.5  1196786159  ns5272
11024285  124380     2.5  1196786030  ns5492
11024286  124380     3.5  1196785679   hs305
11024287  124380     4.5  1196787089  ns7881
11024288  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

- calculo el promedio del df de ratings

In [15]:
ratings_prom=df_ratings.groupby('movieId').rating.agg([sum,len])

In [16]:
ratings_prom.head()

            sum  len
movieId
as1      1740.5  502
as10     1764.5  513
as100    1552.0  430
as1000   1725.0  485
as1001   1681.5  469

In [17]:
ratings_prom['score']=ratings_prom['sum']/ratings_prom['len']

In [18]:
ratings_prom.reset_index(inplace=True)

- Hago un join de la tabla de ratings hacia la tabla de plataformas

In [19]:
df_total=df_total.join(ratings_prom.set_index('movieId'), on='id', lsuffix='_caller', rsuffix='_other')

In [20]:
df_total

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Plataforma,id,duration_int,duration_type,sum,len,score
0,s1,movie,dick johnson is dead,kirsten johnson,sin informacion,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",netflix,ns1,90,min,1820.0,504,3.611111
1,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",netflix,ns2,2,seasons,1620.0,456,3.552632
2,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,netflix,ns3,1,season,1745.0,485,3.597938
3,s4,tv show,jailbirds new orleans,NaN,sin informacion,NaN,2021-09-24,2021,tv-ma,1 season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",netflix,ns4,1,season,1763.0,495,3.561616
4,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,netflix,ns5,2,seasons,1699.5,473,3.593023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s3069,tv show,star trek: the original series,NaN,sin informacion,united states,NaT,1966,tv-pg,3 seasons,"action, adventure, classics",the 23rd century adventures of captain james t...,hulu,hs3069,3,seasons,1801.5,515,3.498058
22994,s3070,tv show,star trek: voyager,NaN,sin informacion,united states,NaT,1997,tv-pg,7 seasons,"action, adventure, science fiction",catapulted into the distant sector of the gala...,hulu,hs3070,7,seasons,1604.0,458,3.502183
22995,s3071,tv show,the fades,NaN,sin informacion,united kingdom,NaT,2011,tv-14,1 season,"horror, international, science fiction",seventeen-year-old paul is haunted by apocalyp...,hulu,hs3071,1,season,1646.5,465,3.540860
22996,s3072,tv show,the twilight zone,NaN,sin informacion,united states,NaT,1959,tv-pg,5 seasons,"classics, science fiction, thriller",rod serling's seminal anthology series focused...,hulu,hs3072,5,seasons,1796.0,514,3.494163
22997,s3073,tv show,tokyo magnitude 8.0,NaN,sin informacion,japan,NaT,2009,tv-14,1 season,"anime, drama, international",the devastation is unleashed in the span of se...,hulu,hs3073,1,season,1837.5,513,3.581871

In [21]:
df_total.to_csv('df_general.csv', index=False)

--------------------------------------------------------------------------------------------------------------

TESTEO 1

In [22]:
df_testeo=pd.read_csv('df_general.csv').copy()
df_testeo=df_testeo.loc[:,['title','release_year','Plataforma','duration_int','duration_type']]
filtro=df_testeo[((df_testeo.release_year==2020) & (df_testeo.Plataforma=='netflix') & (df_testeo.duration_type=='min'))].duration_int.idxmax()
df_testeo.iloc[filtro].to_dict()

{'title': 'unbreakable kimmy schmidt: kimmy vs. the reverend',
 'release_year': 2020,
 'Plataforma': 'netflix',
 'duration_int': 190,
 'duration_type': 'min'}

--------------------------------------------------------------------------------------------------------------

TESTEO 2

In [23]:
df_testeo=pd.read_csv('df_general.csv').copy()
#df_testeo.type.unique()
df_testeo=df_testeo.loc[:,['Plataforma','type','release_year','score']]
print(f'Peliculas amazon: {len(df_testeo[((df_testeo.release_year==2020) & (df_testeo.type=="movie") & (df_testeo.Plataforma=="amazon") & (df_testeo.score>3.1))])}')

Peliculas amazon: 736

--------------------------------------------------------------------------------------------------------------

TESTEO 3

In [24]:
df_testeo=pd.read_csv('df_general.csv').copy()
df_testeo=df_testeo.loc[:,['Plataforma','type']]
df_testeo[((df_testeo.Plataforma=='amazon')&(df_testeo.type=='movie'))]

      Plataforma   type
8807      amazon  movie
8808      amazon  movie
8809      amazon  movie
8810      amazon  movie
8811      amazon  movie
...          ...    ...
18467     amazon  movie
18469     amazon  movie
18470     amazon  movie
18472     amazon  movie
18474     amazon  movie

[7814 rows x 2 columns]

--------------------------------------------------------------------------------------------------------------

TESTEO 4

In [25]:
df_testeo=pd.read_csv('df_general.csv').copy()

In [26]:
# CREACION, CARGA Y CONTEO DE ACTORES SEGUN LOS FILTROS
lista_anio=sorted(list(df_testeo.release_year.unique()))
lista_plat=list(df_testeo.Plataforma.unique())
act_dict={plat:{anio:{} for anio in lista_anio} for plat in lista_plat}
for plat in lista_plat:
    df_temp=df_testeo[df_testeo.Plataforma==plat]
    for anio in lista_anio:
        df_temp2=df_temp[df_temp.release_year==anio]
        for i in df_temp2.cast:
            if i != 'sin informacion':
                actores=i.split(',')
                for actor in actores:
                    actor=actor.strip()
                    if actor in act_dict[plat][anio]:
                        act_dict[plat][anio][actor]+=1
                    else:
                        act_dict[plat][anio][actor]=1

In [27]:
tabla_actores=[]
for plataforma in act_dict:
    print(plataforma)
    for anios in act_dict[plataforma]:
        for actor in act_dict[plataforma][anios]:
            tabla_actores.append([plataforma,anios,actor,act_dict[plataforma][anios][actor]])

netflix
amazon
disney
hulu

In [28]:
df_query4=pd.DataFrame(tabla_actores, columns=['Plataforma','Anios','Actor','Cantidad'])
df_query4.iloc[95984].Actor

'1'

--------------------------------------------------------------------------------------------------------------

TESTEO 5

In [55]:
df_testeo=pd.read_csv('df_general.csv')

In [56]:
df_testeo.country.unique()

array(['united states', 'south africa', nan, 'india',
       'united states, ghana, burkina faso, united kingdom, germany, ethiopia',
       'united kingdom', 'germany, czech republic', 'mexico', 'turkey',
       'australia', 'united states, india, france', 'finland',
       'china, canada, united states',
       'south africa, united states, japan', 'nigeria', 'japan',
       'spain, united states', 'france', 'belgium',
       'united kingdom, united states', 'united states, united kingdom',
       'france, united states', 'south korea', 'spain',
       'united states, singapore', 'united kingdom, australia, france',
       'united kingdom, australia, france, united states',
       'united states, canada', 'germany, united states',
       'south africa, united states', 'united states, mexico',
       'united states, italy, france, japan',
       'united states, italy, romania, united kingdom',
       'australia, united states', 'argentina, venezuela',
       'united states, united kingdom, canada', 'china, hong kong',
       'russia', 'canada', 'hong kong', 'united states, china, hong kong',
       'italy, united states', 'united states, germany',
       'united kingdom, canada, united states', ', south korea',
       'ireland', 'india, nepal',
       'new zealand, australia, france, united states', 'italy',
       'italy, brazil, greece', 'argentina', 'jordan', 'colombia',
       'united states, japan', 'belgium, united kingdom',
       'switzerland, united kingdom, australia', 'israel, united states',
       'canada, united states', 'brazil', 'argentina, spain', 'taiwan',
       'united states, nigeria', 'bulgaria, united states',
       'spain, united kingdom, united states', 'united states, china',
       'united states, france',
       'spain, france, united kingdom, united states',
       ', france, algeria', 'poland', 'germany',
       'france, israel, germany, united states, united kingdom',
       'new zealand', 'saudi arabia', 'thailand', 'indonesia',
       'egypt, denmark, germany', 'united states, switzerland',
       'hong kong, canada, united states', 'kuwait, united states',
       'france, canada, united states, spain',
       'france, netherlands, singapore', 'france, belgium',
       'ireland, united states, united kingdom', 'egypt', 'malaysia',
       'israel', 'australia, new zealand', 'united kingdom, germany',
       'belgium, netherlands', 'south korea, czech republic',
       'australia, germany', 'vietnam', 'united kingdom, belgium',
       'united kingdom, australia, united states',
       'france, japan, united states',
       'united kingdom, germany, spain, united states',
       'united kingdom, united states, france, italy',
       'united states, germany, canada',
       'united states, france, italy, united kingdom',
       'united states, united kingdom, germany, hungary',
       'united states, new zealand', 'sweden', 'china', 'lebanon',
       'romania', 'finland, germany', 'lebanon, syria', 'philippines',
       'iceland', 'denmark', 'united states, india',
       'philippines, singapore, indonesia',
       'china, united states, canada', 'lebanon, united arab emirates',
       'canada, united states, denmark', 'united arab emirates',
       'mexico, france, colombia', 'netherlands',
       'germany, united states, france', 'united states, bulgaria',
       'united kingdom, france, germany, united states',
       'norway, denmark', 'syria, france, lebanon, qatar',
       'united states, czech republic', 'mauritius',
       'canada, south africa', 'austria', 'mexico, brazil',
       'germany, france', 'mexico, united states',
       'united kingdom, france, spain, united states',
       'united states, australia',
       'united states, united kingdom, france', 'united states, russia',
       'united states, united kingdom, new zealand',
       'australia, united kingdom', 'canada, nigeria, united states',
       'france, united states, united kingdom, canada',
       'france, united kingdom', 'india, united kingdom',
       'canada, united states, mexico',
       'united kingdom, germany, united states',
       'czech republic, united kingdom, united states',
       'china, united kingdom', 'italy, united kingdom', 'china, taiwan',
       'united states, brazil, japan, spain, india',
       'united states, china, united kingdom', 'cameroon',
       'lebanon, palestine, denmark, qatar', 'japan, united states',
       'uruguay, germany', 'egypt, saudi arabia',
       'united kingdom, france, poland, germany, united states',
       'ireland, switzerland, united kingdom, france, united states',
       'united kingdom, south africa, france',
       'ireland, united kingdom, france, germany',
       'russia, united states', 'united kingdom, united states, france',
       'united kingdom,', 'united states, india, united kingdom', 'kenya',
       'spain, argentina', 'india, united kingdom, france, qatar',
       'belgium, france', 'argentina, chile', 'united states, thailand',
       'chile, brazil', 'united states, colombia',
       'canada, united states, united kingdom', 'uruguay', 'luxembourg',
       'united states, cambodia, romania', 'bangladesh',
       'spain, belgium, united states',
       'united kingdom, united states, australia',
       'canada, united states, france', 'portugal, united states',
       'portugal, spain', 'india, united states',
       'united kingdom, ireland', 'united kingdom, spain, united states',
       'hungary, united states', 'united states, south korea',
       'canada, united states, cayman islands', 'india, france',
       'france, canada', 'canada, hungary, united states', 'norway',
       'canada, united kingdom, united states',
       'united kingdom, germany, france, united states',
       'denmark, united states', 'senegal', 'france, algeria',
       'united kingdom, finland, germany, united states, australia, japan, france, ireland',
       'philippines, canada, united kingdom, united states',
       'ireland, france, iceland, united states, mexico, belgium, united kingdom, hong kong',
       'singapore', 'kuwait', 'united states, france, serbia',
       'united states, italy', 'spain, italy',
       'united states, ireland, united kingdom, india',
       'united kingdom, singapore', 'hong kong, united states',
       'united states, malta, france, united kingdom',
       'united states, china, canada', 'canada, united states, ireland',
       'lebanon, canada, france', 'japan, canada, united states',
       'spain, france, canada',
       'denmark, singapore, canada, united states',
       'united states, france, denmark', 'united states, china, colombia',
       'spain, thailand, united states', 'mexico, spain',
       'ireland, luxembourg, belgium', 'china, united states',
       'canada, belgium', 'canada, united kingdom',
       'lebanon, united arab emirates, france, switzerland, germany',
       'france, belgium, italy',
       'lebanon, united states, united arab emirates', 'lebanon, france',
       'france, lebanon', 'france, lebanon, united kingdom',
       'france, norway, lebanon, belgium',
       'sweden, czech republic, united kingdom, denmark, netherlands',
       'united states, united kingdom, india', 'indonesia, netherlands',
       'turkey, south korea', 'serbia, united states', 'namibia',
       'united kingdom, kenya', 'united kingdom, france, germany, spain',
       'united kingdom, france, united states, belgium, luxembourg, china, germany',
       'thailand, united states',
       'united states, france, canada, belgium', 'united kingdom, china',
       'germany, china, united kingdom',
       'australia, new zealand, united states',
       'hong kong, iceland, united states', 'france, australia, germany',
       'united states, belgium, canada, france', 'south africa, angola',
       'united states, philippines',
       'united states, united kingdom, canada, china',
       'united states, canada, united kingdom', 'turkey, united states',
       'peru, germany, norway', 'mozambique', 'brazil, france',
       'china, spain, south korea, united states', 'spain, germany',
       'hong kong, china', 'france, belgium, luxembourg, cambodia,',
       'united kingdom, australia', 'belarus',
       'indonesia, united kingdom',
       'switzerland, france, belgium, united states', 'ghana',
       'spain, france, canada, united states', 'chile, italy',
       'united kingdom, nigeria', 'chile', 'france, egypt',
       'egypt, france', 'france, brazil, spain, belgium',
       'egypt, algeria', 'canada, south korea, united states',
       'nigeria, united kingdom', 'united states, france, canada',
       'poland, united states',
       'united arab emirates, jordan, lebanon, saudi arabia',
       'united states, mexico, spain, malta',
       'saudi arabia, united arab emirates', 'zimbabwe',
       'united kingdom, germany, united arab emirates, new zealand',
       'romania, united states', 'canada, nigeria',
       'saudi arabia, netherlands, germany, jordan, united arab emirates, united states',
       'united kingdom, spain', 'finland, france',
       'united kingdom, germany, united states, france',
       'india, united kingdom, china, canada, japan, south korea, united states',
       'italy, united kingdom, france', 'united states, mexico, colombia',
       'turkey, india', 'italy, turkey',
       'united kingdom, united states, japan',
       'france, belgium, united states',
       'puerto rico, united states, colombia', 'uruguay, argentina',
       'united states, united kingdom, japan', 'united states, argentina',
       'united kingdom, italy', 'ireland, united kingdom',
       'united kingdom, france, belgium, canada, united states',
       'netherlands, germany, denmark, united kingdom', 'hungary',
       'austria, germany', 'taiwan, china',
       'united kingdom, united states, ireland',
       'south korea, united states', 'brazil, united kingdom',
       'pakistan, united states', 'romania, france, switzerland, germany',
       'romania, united kingdom', 'france, malta, united states',
       'cyprus',
       'united kingdom, france, belgium, ireland, united states',
       'united states, norway, canada', 'kenya, united states',
       'france, south korea, japan, united states', 'taiwan, malaysia',
       'uruguay, argentina, germany, spain',
       'united states, united kingdom, france, germany, japan',
       'united states, france, japan',
       'united kingdom, france, united states',
       'spain, france, united states',
       'indonesia, south korea, singapore', 'united states, spain',
       'netherlands, germany, italy, canada',
       'spain, germany, denmark, united states', 'norway, sweden',
       'south korea, canada, united states, china',
       'argentina, uruguay, serbia', 'france, japan',
       'mauritius, south africa', 'united states, poland',
       'united kingdom, united states, germany, denmark, belgium, japan',
       'india, germany', 'india, united kingdom, canada, united states',
       'philippines, united states', 'romania, bulgaria, hungary',
       'uruguay, guatemala', 'france, senegal, belgium',
       'united kingdom, canada', 'mexico, united states, spain, colombia',
       'canada, norway', 'singapore, united states',
       'finland, germany, belgium', 'united kingdom, france',
       'united states, chile', 'united kingdom, japan, united states',
       'spain, united kingdom', 'argentina, united states, mexico',
       'united states, south korea, japan', 'canada, australia',
       'united kingdom, hungary, australia', 'italy, belgium',
       'united states, united kingdom, germany', 'switzerland',
       'singapore, malaysia',
       'france, belgium, luxembourg, romania, canada, united states',
       'south africa, nigeria', 'spain, france',
       'united kingdom, hong kong', 'pakistan', 'brazil, united states',
       'denmark, brazil, france, portugal, sweden', 'india, turkey',
       'malaysia, singapore, hong kong', 'philippines, singapore',
       'australia, canada', 'taiwan, china, france, united states',
       'germany, italy', 'colombia, peru, united kingdom',
       'thailand, china, united states', 'argentina, united states',
       'sweden, united states', 'uruguay, spain, mexico',
       'france, luxembourg, canada', 'denmark, spain', 'chile, argentina',
       'united kingdom, belgium, sweden', 'canada, brazil',
       'italy, france', 'canada, germany',
       'pakistan, united arab emirates', 'ghana, united states',
       'mexico, finland', 'united arab emirates, united kingdom, india',
       'netherlands, belgium', 'united states, taiwan',
       'austria, iraq, united states', 'united kingdom, malawi',
       'paraguay, argentina', 'united kingdom, russia, united states',
       'india, pakistan', 'indonesia, singapore', 'spain, belgium',
       'iceland, sweden, belgium', 'croatia', 'uruguay, argentina, spain',
       'united kingdom, ireland, united states',
       'canada, germany, france, united states', 'united kingdom, japan',
       'norway, denmark, netherlands, sweden',
       'hong kong, china, united states', 'ireland, canada',
       'italy, switzerland, france, germany', 'mexico, netherlands',
       'united states, sweden', 'germany, france, russia',
       'france, iran, united states', 'united kingdom, india',
       'russia, poland, serbia', 'spain, portugal', 'peru',
       'mexico, argentina',
       'united kingdom, canada, united states, cayman islands',
       'indonesia, united states',
       'united states, israel, united kingdom, canada',
       'norway, iceland, united states', 'czech republic, united states',
       'united kingdom, india, united states',
       'united kingdom, west germany', 'india, australia',
       'united states,', 'belgium, united kingdom, united states',
       'india, germany, austria',
       'united states, brazil, south korea, mexico, japan, germany',
       'spain, mexico', 'china, japan', 'argentina, france',
       'china, united states, united kingdom',
       'france, luxembourg, united states',
       'china, united states, australia', 'colombia, mexico',
       'united states, canada, ireland', 'chile, peru',
       'argentina, italy', 'canada, japan, united states',
       'united kingdom, canada, united states, germany',
       'italy, switzerland, albania, poland',
       'united states, japan, canada', 'cambodia',
       'italy, united states, argentina',
       'saudi arabia, syria, egypt, lebanon, kuwait',
       'united states, canada, indonesia, united kingdom, china, singapore',
       'spain, colombia',
       'united kingdom, south africa, australia, united states',
       'bulgaria', 'argentina, brazil, france, poland, germany, denmark',
       'united kingdom, spain, united states, germany',
       'philippines, qatar', 'netherlands, belgium, germany, jordan',
       'united arab emirates, united states', 'norway, germany, sweden',
       'south korea, china', 'georgia', 'soviet union, india',
       'australia, united arab emirates', 'canada, germany, south africa',
       'south korea, china, united states', 'india, soviet union',
       'india, mexico', 'georgia, germany, france',
       'united arab emirates, romania', 'india, malaysia',
       'germany, jordan, netherlands', 'turkey, france, germany, poland',
       'greece, united states', 'france, united kingdom, united states',
       'norway, germany', 'france, morocco', 'cambodia, united states',
       'united states, denmark', 'united states, colombia, mexico',
       'united kingdom, italy, israel, peru, united states',
       'argentina, uruguay, spain, france',
       'united kingdom, france, united states, belgium',
       'france, canada, china, cambodia',
       'united kingdom, france, belgium, united states', 'chile, france',
       'netherlands, united states', 'france, united kingdom, india',
       'czech republic, slovakia', 'singapore, france',
       'spain, switzerland', 'united states, australia, china',
       'south africa, united states, germany',
       'united states, united kingdom, australia',
       'spain, italy, argentina', 'chile, spain, argentina, germany',
       'west germany', 'austria, czech republic', 'lebanon, qatar',
       'united kingdom, jordan, qatar, iran',
       'france, south korea, japan', 'israel, germany, france',
       'canada, japan, netherlands', 'united states, hungary',
       'france, germany', 'france, qatar',
       'united kingdom, germany, canada', 'ireland, south africa',
       'chile, united states, france', 'belgium, france, netherlands',
       'united kingdom, ukraine, united states',
       'germany, australia, france, china', 'norway, united states',
       'united states, bermuda, ecuador',
       'united states, hungary, ireland, canada',
       'united kingdom, egypt, united states',
       'united states, france, united kingdom', 'spain, mexico, france',
       'united states, south africa', 'hong kong, china, singapore',
       'south africa, china, united states', 'denmark, france, poland',
       'new zealand, united kingdom',
       'netherlands, denmark, south africa', 'iran, france',
       'united kingdom, united states, france, germany',
       'australia, france', 'ireland, united kingdom, united states',
       'united kingdom, france, germany', 'canada, luxembourg',
       'brazil, netherlands, united states, colombia, austria, germany',
       'france, canada, belgium', 'canada, france',
       'bulgaria, united states, spain, canada', 'sweden, netherlands',
       'france, united states, mexico',
       'australia, united kingdom, united arab emirates, canada',
       'australia, armenia, japan, jordan, mexico, mongolia, new zealand, philippines, south africa, sweden, united states, uruguay',
       'india, iran', 'france, belgium, spain',
       'denmark, sweden, israel, united states', 'united states, iceland',
       'united kingdom, russia',
       'united states, israel, italy, south africa',
       'netherlands, denmark, france, germany', 'south korea, japan',
       'united kingdom, pakistan', 'france, new zealand',
       'united kingdom, czech republic, united states, germany, bahamas',
       'china, germany, india, united states', 'germany, sri lanka',
       'united states, india, bangladesh',
       'united states, canada, france', 'brazil, france, germany',
       'germany, united states, hong kong, singapore',
       'france, germany, switzerland',
       'germany, france, luxembourg, united kingdom, united states',
       'united kingdom, canada, italy', 'czech republic, france',
       'taiwan, hong kong, united states, china', 'germany, australia',
       'united kingdom, poland, united states', 'denmark, zimbabwe',
       'united kingdom, south africa',
       'finland, sweden, norway, latvia, germany',
       'south africa, united states, new zealand, canada',
       'united states, italy, united kingdom, liechtenstein',
       'denmark, france, belgium, italy, netherlands, united states, united kingdom',
       'united states, australia, mexico',
       'united kingdom, czech republic, germany, united states',
       'france, china, japan, united states',
       'united states, south korea, china', 'germany, belgium',
       'pakistan, norway, united states',
       'united states, canada, belgium, united kingdom', 'venezuela',
       'canada, france, italy, morocco, united states',
       'canada, spain, france', 'united states, indonesia',
       'spain, france, italy',
       'united arab emirates, united states, united kingdom',
       'united kingdom, israel, russia', 'spain, cuba',
       'united states, brazil', 'united states, france, mexico',
       'united states, nicaragua',
       'united kingdom, united states, spain, germany, greece, canada',
       'italy, canada, france',
       'united kingdom, denmark, canada, croatia', 'italy, germany',

In [57]:
tipo='movie'
df_testeo=df_testeo[(df_testeo.type==tipo)]
df_testeo

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Plataforma,id,duration_int,duration_type,sum,len,score
0,s1,movie,dick johnson is dead,kirsten johnson,sin informacion,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",netflix,ns1,90,min,1820.0,504,3.611111
6,s7,movie,my little pony: a new generation,"robert cullen, josÃ© luis ucha","vanessa hudgens, kimiko glenn, james marsden, ...",NaN,2021-09-24,2021,pg,91 min,children & family movies,equestria's divided. but a bright-eyed hero be...,netflix,ns7,91,min,1563.5,449,3.482183
7,s8,movie,sankofa,haile gerima,"kofi ghanaba, oyafunmike ogunlano, alexandra d...","united states, ghana, burkina faso, united kin...",2021-09-24,1993,tv-ma,125 min,"dramas, independent movies, international movies","on a photo shoot in ghana, an american model s...",netflix,ns8,125,min,1690.0,484,3.491736
9,s10,movie,the starling,theodore melfi,"melissa mccarthy, chris o'dowd, kevin kline, t...",united states,2021-09-24,2021,pg-13,104 min,"comedies, dramas",a woman adjusting to life after a loss contend...,netflix,ns10,104,min,1646.5,461,3.571584
12,s13,movie,je suis karl,christian schwochow,"luna wedler, jannis niewÃ¶hner, milan peschel, ...","germany, czech republic",2021-09-23,2021,tv-ma,127 min,"dramas, international movies",after most of her family is murdered in a terr...,netflix,ns13,127,min,1660.0,470,3.531915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22880,s2956,movie,getting on,NaN,sin informacion,united kingdom,2014-01-07,2009,3 seasons,0 min,"comedy, international, sitcom",care for the elderly is the least glamorous ar...,hulu,hs2956,0,min,1699.5,477,3.562893
22883,s2959,movie,(sub) ninja scroll,NaN,sin informacion,japan,2013-12-15,1993,93 min,0 min,"action, adult animation, adventure",when jubei saves a young ninja woman from the ...,hulu,hs2959,0,min,1631.0,465,3.507527
22884,s2960,movie,packed to the rafters,NaN,sin informacion,australia,2013-12-03,2008,6 seasons,0 min,"comedy, drama, international",packed to the rafters is an australian family-...,hulu,hs2960,0,min,1767.5,505,3.500000
22907,s2983,movie,(sub) legend of heroes: trails in the sky,NaN,sin informacion,NaN,2013-08-31,2011,pg-13,84 min,"anime, international, science fiction","ten years ago, an invasion by the erebonians a...",hulu,hs2983,84,min,1661.5,491,3.383910
22918,s2994,movie,amy winehouse: a final goodbye,NaN,sin informacion,united kingdom,2012-12-13,2011,71 min,0 min,"documentaries, music",a final goodbye is an intimate look into the l...,hulu,hs2994,0,min,1735.5,488,3.556352

In [58]:
df_testeo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16481 entries, 0 to 22918
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        16481 non-null  object
 1   type           16481 non-null  object
 2   title          16481 non-null  object
 3   director       14508 non-null  object
 4   cast           16481 non-null  object
 5   country        7867 non-null   object
 6   date_added     8683 non-null   object
 7   release_year   16481 non-null  int64
 8   rating         16481 non-null  object
 9   duration       16481 non-null  object
 10  listed_in      16481 non-null  object
 11  description    16478 non-null  object
 12  Plataforma     16481 non-null  object
 13  id             16481 non-null  object
 14  duration_int   16481 non-null  int64
 15  duration_type  16481 non-null  object
 16  sum            16481 non-null  float64
 17  len            16481 non-null  int64
 18  score          16481 non-null  float64
dtypes: float64(2), int64(3), object(14)
memory usage: 2.5+ MB

In [59]:
lista_anio=sorted(list(df_testeo.release_year.unique()))
pais_dict={anio:{} for anio in lista_anio}
for anios in lista_anio:
    df_temp=df_testeo[df_testeo.release_year==anios]
    for i in df_temp.country:
        if type(i)==str:
            paices=i.split(',')
            for pais in paices:
                pais=pais.strip()
                if pais in pais_dict[anios]:
                    pais_dict[anios][pais]+=1
                else:
                    pais_dict[anios][pais]=1
cont_paices=[]
for anios in pais_dict:
    for pais in pais_dict[anios]:
        cont_paices.append([anios,pais,tipo,pais_dict[anios][pais]])

df_temp=pd.DataFrame(cont_paices, columns=['Anios','Pais','Tipo','Cantidad'])

In [66]:
df_temp[((df_temp.Pais=='argentina'))]

      Anios       Pais   Tipo  Cantidad
151    1985  argentina  movie         2
225    1993  argentina  movie         1
279    1998  argentina  movie         1
369    2004  argentina  movie         2
418    2006  argentina  movie         2
460    2007  argentina  movie         1
513    2009  argentina  movie         1
633    2013  argentina  movie         1
653    2014  argentina  movie         1
749    2015  argentina  movie         5
813    2016  argentina  movie        10
881    2017  argentina  movie        12
954    2018  argentina  movie        15
1017   2019  argentina  movie         9
1060   2020  argentina  movie         8
1139   2021  argentina  movie         2

--------------------------------------------------------------------------------------------------------------

TESTEO 6

In [67]:
df_testeo=pd.read_csv('df_general.csv')

In [68]:
df_testeo.rating.unique()

array(['pg-13', 'tv-ma', 'pg', 'tv-14', 'tv-pg', 'tv-y', 'tv-y7', 'r',
       'tv-g', 'g', 'nc-17', '74 min', '84 min', '66 min', 'nr',
       'tv-y7-fv', 'ur', '13+', 'all', '18+', '16+', '7+', 'tv-nr',
       'unrated', '16', 'ages_16_', 'ages_18_', 'all_ages', 'not_rate',
       'not rated', '2 seasons', '93 min', '4 seasons', '136 min',
       '91 min', '85 min', '98 min', '89 min', '94 min', '86 min',
       '3 seasons', '121 min', '88 min', '101 min', '1 season', '83 min',
       '100 min', '95 min', '92 min', '96 min', '109 min', '99 min',
       '75 min', '87 min', '67 min', '104 min', '107 min', '103 min',
       '105 min', '119 min', '114 min', '82 min', '90 min', '130 min',
       '110 min', '80 min', '6 seasons', '97 min', '111 min', '81 min',
       '49 min', '45 min', '41 min', '73 min', '40 min', '36 min',
       '39 min', '34 min', '47 min', '65 min', '37 min', '78 min',
       '102 min', '129 min', '115 min', '112 min', '61 min', '106 min',
       '76 min', '77 min', '79 min', '157 min', '28 min', '64 min',
       '7 min', '5 min', '6 min', '127 min', '142 min', '108 min',
       '57 min', '118 min', '116 min', '12 seasons', '71 min'],
      dtype=object)